#financial-form {
    width: 60rem;
}

#financial-married-fieldset, #financial-deduction-fieldset, #financial-aotc-fieldset, #financial-clean-fieldset {
    margin-top: 1.5rem;
}

#financial-button-group {
    display: flex;
    justify-content: end;
}
