.result-categories {
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

#result-congratulations {
    font-weight: bold;
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

#refund-amount {
    color: green;
    font-weight: bold;
    font-size: 4rem;
}